aside {
    position: fixed;
    left: 0;
    top: 0;
    width: 270px;
    height: 100%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: rgb(31, 3, 3);
    border-right: 1px solid #888;
}

.titleHead {
    font-size: 2.2em;
    text-decoration: none;
    color: #fff;
}

.header {
    margin-left: 3em;
    margin-bottom: 2em;
}

.choose {
    width: 100%;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.choose h3 {
    height: 35px;
    width: 100%;
    cursor: pointer;
    padding-top: 0.5em;
    margin-left: -0.83em;
    padding-left: 1.5em;
    margin-top: 0.2em;
    transition: 0.2s ease-in-out;
}

.choose h3:hover {
    background-color: #e2e2e2;
    border-right: 4px solid #D97706;;
    color: #D97706;
}

.active {
    background-color: #e2e2e2;
    border-right: 4px solid #D97706;;
    color: #D97706;
}

.choose h3 i {
    margin-right: 0.5em;
}

.workingTime {
    display: flex;
    gap: 2em;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top: 2em;
    border: 1px solid rgb(111, 110, 110);
    border-radius: 1em;
}

.icon > * {
    font-size: 2em;
    color: #D97706;
}

.icons {
    margin-top: 3em;
    display: flex;
    gap: 4em;
    margin-left: 2.5em;
}

.icons > * {
    font-size: 1.2em;
}
