.allWrap {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.backToMenu {
    display: flex;
    align-items: center;
    gap: 1em;
    position: absolute;
    top: 3em;
    left: 5em;
    z-index: 900; 
    padding: 8px 15px;
    text-decoration: none;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    font-size: 0.9rem;
    transition: all 0.3s ease;
}

.backToMenu:hover {
    background-color: #f68606; 
}

@media screen and (max-width: 1150px) {
    .allWrap {
        height: auto !important;
        min-height: 100vh !important;
        width: 100% !important;
        overflow-x: hidden !important;
    }
}