.detailsMain {
    width: 100%;
    height: 60%;
    background-color: rgb(31, 3, 3);
    padding-top: 2em;
}

.wrap {
    display: flex;
    gap: 0.5em;
    width: 90%;
    background-color: rgb(28, 1, 1);
    margin: 0 auto;
    border-radius: 1em;
    border: 1px solid rgb(136, 131, 131);
}

.description {
    width: 40%;
    padding: 1em;
    padding-left: 2em;
    margin-left: 1.5em;
    position: relative;
}

.description::after {
    content: '';
    position: absolute;
    right: 9px;
    top: 20px;
    width: 0.5px;
    height: 90%;
    background-color: rgb(99, 98, 98);
}

.meals {
    width: 50%;
    padding-top: 1.2em;
}

.ingCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    gap: 1em;
    margin-top: 0.5em;
    align-items: center;
}

.ingridients {
    margin-bottom: 0;
    margin-top: 1.5em;
}

.ingridient {
    padding: 0.3em 0.4em;
    border-radius: 20px;
    border: 1px solid #f68606;
}

.alerCards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 1em;
}

.alerCards p i {
    margin-right: 0.5em;
    color: #f68606;
}

.mealsWrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 1.5em; 
    width: 100%;
    box-sizing: border-box;
    
    grid-auto-rows: minmax(min-content, max-content);
}

.mealsWrapper > * {
    width: 100% !important;
    max-width: 100% !important;
    height: auto !important; 
    box-sizing: border-box;
    
    white-space: normal !important;
    word-wrap: break-word !important;
    overflow-wrap: break-word !important;
}

@media screen and (max-width: 1150px) {
    .wrap {
        flex-direction: column;
        align-items: center;
        margin-bottom: 2em;
        padding-bottom: 1em;
    }

    .description {
        width: 80%;
    }

    .description::after {
        display: none;
    }

    .meals {
        width: 80%;
    }

    .mealsWrapper {
        grid-template-columns: 1fr !important; 
        gap: 1.2em; 
    }
}